[core]
    editor = vim
    # executable bit are ignored, useful for FAT.
    fileMode = false
    # convert CR/LF to LF only when fetching from remote repo
    autocrlf = input

    #symlinks = false
    #logallrefupdates = true

    #gitproxy=""

[user]
	name = Adaptee
	email = adaptee@gmail.com

[rerere]
    #enabled = true

[color]
    ui = auto

[diff]
    external = gitExternalDiff

[merge]
    tool = gitExternalMerge

[mergetool "gitExternalMerge"]
    ;cmd = gitMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    cmd = gitExternalMerge  "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = false

[pager]
    ;diff =

[status]
    relativePath = true

[alias]
    ai      = add -i
    br      = branch
    brd     = branch -d
    cm      = commit -m
    cma     = commit -a -m
    co      = checkout
    cob     = checkout -b
    desc    = describe
    df      = diff
    dfc     = diff --cached
    st      = status
    wtf     = whatchanged
    unstage = reset HEAD --
    last    = log -1 HEAD
    visual  = gitk

[i18n]
    commitEncoding    = utf-8
    logOutputEncoding = utf-8

[help]
    autocorrect = true

