[core]
    editor = vim
    # executable bit are ignored, useful for FAT.
    fileMode = false

    #symlinks = false
    #logallrefupdates = true

[user]
    name = Adaptee
    email = adaptee@gmail.com

[rerere]
    #enabled = true

[color]
    ui = auto

[diff]
    #renames = copy

[merge]
    tool = vimdiff

[status]
    relativePath = true

[alias]
    st = status
    ci = commit
    co = checkout
    desc = describe
    wtf = whatchanged

[i18n]
    commitEncoding = utf-8
    logOutputEncoding = utf-8

