.vim/sessions/session.vim
.vim/vimdata/vim_mru_files
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/quickmarks

# ignore all archive files.
*.a 
