[core]
    editor = vim

    # executable bit are ignored, useful for FAT.
    fileMode = false

    # no line-ending conversion during commit or checkout
    # [Reason] otherswise, you may encounter some weired things:
    # [Example] right after clonging, 'git status' tells you some files modified
    autocrlf = false

    #symlinks = false

    #gitproxy=""

[user]
    name  = Adaptee
    email = adaptee@gmail.com

[rerere]
    #enabled = true

[color]
    ui = auto

[diff]
    # invoked when runnig "git difftool"
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    # invoked when running "git mergetool"
    tool = kdiff3

    # generate diff3 style conflict file: ours, base, theirs
    conflictstyle = diff3

[push]
    default = matching

[status]
    relativePath       = true

    # do not show untracked files & folders in git-status
    showUntrackedFiles = no

[alias]
    ad      = add
    adi     = add -i

    br      = branch
    bra     = branch -a
    brd     = branch -d

    cm      = commit -m
    cma     = commit -a -m
    amend   = commit --amend -C HEAD


    co      = checkout
    cob     = checkout -b

    cl      = clone

    df      = difftool
    dfc     = difftool --cached
    ch      = diff --stat -r

    st      = status
    wtf     = !git-wtf

    unstage = reset HEAD --
    recover = checkout HEAD --

    last    = log -1 HEAD
    lg      = log --stat --date=relative
    lgs     = log --graph --pretty=format:'%Cred%h%Creset\n-%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative  --decorate

    assume  = !git-show-assume-unchanged
    contain = !git-show-what-is-contained

    rmt       = remote -v
    # prune all stale tracking branches in all remotes
    prune-all = !git remote | xargs -n 1 git remote prune

    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

    # create alias from command line
    alias = !sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -


[i18n]
    commitEncoding    = utf-8
    logOutputEncoding = utf-8

[gc]
    auto = 1

[help]
    autocorrect = 0

