# ingore those dynamic content
.vimperator/info/default/*

# ignore all archive files.
*.a

# ignore all object files
*.o

# ignore all dlls
*.dll

# ignore all python compiled modules
*.pyw

# ignore all win32 executables
*.exe

# ignore all out executabls
*.out

# ignroe variouis vs project files
*.ncb
*.ilk
*.pdb
