#!/bin/sh

# https://wiki.archlinux.org/index.php/Xprofile

# /etc/xprofile and ~/.xprofile allow you to execute commands at
# the beginning of the X user session, BEFORE the Window Manager
# is started. Therefore it CANNOT be used to start window-based
# applications
#
# xprofiles are sourced by KDM (/usr/share/config/kdm/Xsession)
# and GDM (/etc/gdm/Xsession).

# In Desktop Environmen, I prefer native locale over English.
export LANG="zh_CN.UTF-8"

## use ibus as input method platform
#export XMODIFIERS="@im=ibus"
#export GTK_IM_MODULE="ibus"
#export QT_IM_MODULE="ibus"

## use fcitx as input method platform
export XMODIFIERS="@im=fcitx"
export GTK_IM_MODULE="fcitx"
export QT4_IM_MODULE="fcitx"

## use scim as input method platform
#export XMODIFIERS=@im=SCIM
#export GTK_IM_MODULE="scim"
#export QT_IM_MODULE="scim"

# dalay before autorepeat: 200ms
# repeat rate: 20 times per second
xset r rate 200 20

# force setting dpi to 96 in a dirty but sure way
# http://scanline.ca/dpi/
#xrandr --dpi 96

# this is a bit rude, but it works well
# Better way is to behave differently based upon $DESKTOP_SESSION
xmodmap ~/.xmodmaprc

# auto-sync between cut and seleciotn of X11
#autocutsel -fork &
#autocutsel -selection PRIMARY -fork &

if which ksshaskpass &> /dev/null ; then
    export SSH_ASKPASS=$(which ksshaskpass)
fi

# [dangerous]
# improve the perfomace of kde4 with nvidia card
nvidia-settings -a InitialPixmapPlacement=2 -a GlyphCache=1

# take better advantge of touchpad
syndaemon -k -i 1 -d &
