[Desktop Entry]
Categories=Utility
Comment[en_US]=Perform predefined actions on windows when they are created\n
Comment=Perform predefined actions on windows when they are created\n
Comment[zh_CN]=
Exec=devilspie &
GenericName[en_US]=Window Matcher
GenericName=Window Matcher
Icon=
MimeType=
Name[en_US]=DevilsPie
Name=DevilsPie
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
