[Desktop Entry]
Encoding=UTF-8
Name=IBus
Name[ar]=IBus
Name[as]=IBus
Name[bn_IN]=IBus
Name[ca]=IBus
Name[da]=IBus
Name[de]=IBus
Name[es]=IBus
Name[fr]=IBus
Name[gu]=IBus
Name[hi]=IBus
Name[hu]=IBus
Name[it]=IBus
Name[ja]=IBus
Name[kn]=IBus
Name[ko]=IBus
Name[ml]=IBus
Name[mr]=IBus
Name[or]=IBus
Name[pa]=IBus
Name[pl]=iBus
Name[ru]=IBus
Name[sr]=IBus
Name[sr@latin]=IBus
Name[ta]=IBus
Name[te]=IBus
Name[vi]=IBus
Name[zh_CN]=IBus
Name[zh_HK]=IBus
Name[zh_TW]=IBus
GenericName=Input Method Framework
GenericName[es]=Marco de trabajo para métodos de entrada
GenericName[zh_CN]=输入法框架
GenericName[zh_TW]=輸入法框架
Comment=Start IBus Input Method Framework
Comment[es]=Inicie el marco de trabajo para métodos de entrada IBus
Comment[zh_CN]=启动IBus 输入法框架
Comment[zh_TW]=啟動 IBus 輸入法框架
Exec=ibus-daemon --xim
Icon=ibus
Terminal=false
Type=Application
Categories=System;Utility;
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-KDE-autostart-after=panel
