[Desktop Entry]
Encoding=UTF-8
Name=IBus
Name[zh_CN]=IBus
GenericName=Input Method Framework
GenericName[zh_CN]=输入法框架
Comment=Start IBus Input Method Framework
Comment[zh_CN]=启动IBus 输入法框架
Exec=ibus-daemon --xim
Icon=ibus
Terminal=false
Type=Application
Categories=System;Utility;
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-KDE-autostart-after=panel
