[Desktop Entry]
Name=Redshift
GenericName=Color temperature adjustment
Categories=Utility;
Comment=Color temperature adjustment tool
Icon=redshift
MimeType=
Path=
Exec=redshift -l 39.92:116.46
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
