[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Comment=A drop-down terminal emulator based on KDE Konsole technology.
Comment[zh_CN]=一款基于 KDE Konsole 技术的拉幕式终端仿真器。
Exec=yakuake
GenericName=Drop-down Terminal
Icon=yakuake
MimeType=
Name=Yakuake
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
