<?xml version='1.0'?>
<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="54" name="gwenview">
 <MenuBar>
  <Menu name="file">
   <Action name="file_save"/>
   <Action name="file_save_as"/>
   <Separator/>
   <Action name="reload"/>
   <Action name="file_print"/>
   <Separator/>
   <ActionList name="file_action_list"/>
   <Separator/>
   <Action name="add_folder_to_places"/>
   <Separator/>
   <Action name="quit"/>
  </Menu>
  <Menu name="view">
   <Action name="browse"/>
   <Action name="view"/>
   <Action name="fullscreen"/>
   <Action name="toggle_slideshow"/>
   <Separator/>
   <Action name="view_actual_size"/>
   <Action name="view_zoom_to_fit"/>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_out"/>
   <Separator/>
   <Action name="sort_order"/>
   <Action name="thumbnail_details"/>
   <Separator/>
   <Action name="toggle_sidebar"/>
  </Menu>
  <Menu name="edit">
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Separator/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="edit_paste"/>
   <Separator/>
   <Action name="edit_tags"/>
   <Menu name="rating">
    <text>&amp;Rating</text>
    <Action name="rate_0"/>
    <Action name="rate_1"/>
    <Action name="rate_2"/>
    <Action name="rate_3"/>
    <Action name="rate_4"/>
    <Action name="rate_5"/>
   </Menu>
   <Separator/>
   <Action name="rotate_left"/>
   <Action name="rotate_right"/>
   <Action name="mirror"/>
   <Action name="flip"/>
   <Separator/>
   <Action name="resize"/>
   <Action name="crop"/>
   <Action name="red_eye_reduction"/>
  </Menu>
  <Menu name="go">
   <Action name="go_first"/>
   <Action name="go_previous"/>
   <Action name="go_next"/>
   <Action name="go_last"/>
   <Separator/>
   <Action name="go_up"/>
   <Separator/>
   <Action name="go_start_page"/>
  </Menu>
  <Menu name="plugins">
   <text>&amp;Plugins</text>
  </Menu>
  <Menu noMerge="1" name="settings">
   <text>&amp;Settings</text>
   <!--
        Disable merging because we do not want the "fullscreen" action to appear
        here, since it is already in the "view" menu.
        -->
   <Action name="options_show_menubar"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="go_start_page"/>
  <Action name="browse"/>
  <Action name="view"/>
  <Action name="fullscreen"/>
  <Separator/>
  <Action name="go_previous"/>
  <Action name="go_next"/>
  <Separator/>
  <Action name="rotate_left"/>
  <Action name="rotate_right"/>
 </ToolBar>
 <ActionProperties>
  <Action shortcut="Q" name="browse"/>
  <Action shortcut="Ctrl+C; Y" name="edit_copy"/>
  <Action shortcut="Ctrl+X; X" name="edit_cut"/>
  <Action shortcut="Ctrl+V; P" name="edit_paste"/>
  <Action shortcut="" name="file_quit"/>
  <Action shortcut="I" name="file_show_properties"/>
  <Action shortcut="Del; D" name="file_trash"/>
  <Action shortcut="F" name="fullscreen"/>
  <Action shortcut="Space; J" name="go_next"/>
  <Action shortcut="Backspace; K" name="go_previous"/>
  <Action shortcut="Alt+Up; H" name="go_up"/>
  <Action shortcut="F5; R" name="reload"/>
  <Action shortcut="S" name="toggle_slideshow"/>
  <Action shortcut="V" name="view"/>
  <Action shortcut="" name="file_print"/>
  <Action shortcut="" name="help_contents"/>
  <Action shortcut="" name="help_whats_this"/>
  <Action shortcut="Z" name="view_zoom_to_fit"/>
  <Action shortcut="F1" name="toggle_sidebar"/>
  <Action shortcut="/" name="view_actual_size"/>
  <Action shortcut="F3" name="edit_location"/>
  <Action shortcut="F4" name="toggle_thumbnailbar"/>
  <Action shortcut="O" name="file_open_with"/>
 </ActionProperties>
</kpartgui>
