<!DOCTYPE kpartgui>
<kpartgui version="9" name="session">
 <MenuBar>
  <Menu name="file">
   <Action group="session-operations" name="open-browser"/>
   <Action group="session-operations" name="close-session"/>
  </Menu>
  <Menu name="edit">
   <Action group="session-edit-operations" name="copy"/>
   <Action group="session-edit-operations" name="paste"/>
   <Action group="session-edit-operations" name="rename-session"/>
   <Separator group="session-edit-operations"/>
   <Menu group="session-edit-operations" name="edit-copy-input-to">
    <text>Copy Input To</text>
    <Action name="copy-input-to-all-tabs"/>
    <Action name="copy-input-to-selected-tabs"/>
    <Action name="copy-input-to-none"/>
   </Menu>
   <Action group="session-edit-operations" name="zmodem-upload"/>
   <Separator group="session-edit-operations"/>
   <Action group="session-edit-operations" name="clear"/>
   <Action group="session-edit-operations" name="clear-and-reset"/>
  </Menu>
  <Menu name="history">
   <Action group="session-history-operations" name="search-history"/>
   <Action group="session-history-operations" name="find-next"/>
   <Action group="session-history-operations" name="find-previous"/>
   <Action group="session-history-operations" name="save-history"/>
   <Separator group="session-history-operations"/>
   <Action group="session-history-operations" name="history-options"/>
   <Separator group="session-history-operations"/>
   <Action group="session-history-operations" name="clear-history"/>
   <Action group="session-history-operations" name="clear-history-and-reset"/>
  </Menu>
  <Menu name="view">
   <Action group="session-view-operations" name="monitor-silence"/>
   <Action group="session-view-operations" name="monitor-activity"/>
   <Separator group="session-view-operations"/>
   <Action group="session-view-operations" name="character-encoding"/>
   <Action group="session-view-operations" name="increase-text-size"/>
   <Action group="session-view-operations" name="decrease-text-size"/>
  </Menu>
  <Menu name="settings">
   <Action group="session-settings" name="change-profile"/>
   <Action group="session-settings" name="edit-current-profile"/>
  </Menu>
  <!--<Menu name="debug"><text>Debug</text>
            <Action name="debug-process"/>
        </Menu>!-->
 </MenuBar>
 <Menu name="session-popup-menu">
  <Action name="copy"/>
  <Action name="paste"/>
  <Action name="clear-history-and-reset"/>
  <Action name="open-browser"/>
  <Separator/>
  <Action name="change-profile"/>
  <Action name="edit-current-profile"/>
  <Separator/>
  <Action name="show-menubar"/>
  <Action name="character-encoding"/>
  <Separator/>
  <Action name="close-session"/>
 </Menu>
 <Menu name="change-profile">
  <text>&amp;Change Profile</text>
  <ActionList name="profile-list"/>
 </Menu>
 <ActionProperties>
  <Action shortcut="" name="clear-history-and-reset"/>
  <Action shortcut="Alt+D" name="close-session"/>
  <Action shortcut="Alt+C" name="copy"/>
  <Action shortcut="Shift+Ins" name="paste"/>
  <Action shortcut="Alt+V" name="paste-selection"/>
  <Action shortcut="" name="rename-session"/>
  <Action shortcut="Ctrl+Alt+F" name="search-history"/>
  <Action shortcut="Alt+F1" name="show-menubar"/>
  <Action shortcut="" name="copy-input-to-all-tabs"/>
  <Action shortcut="Alt+P" name="edit-current-profile"/>
  <Action shortcut="" name="zmodem-upload"/>
  <Action shortcut="" name="copy-input-to-none"/>
  <Action shortcut="" name="monitor-activity"/>
  <Action shortcut="" name="monitor-silence"/>
  <Action shortcut="" name="copy-input-to-selected-tabs"/>
 </ActionProperties>
</kpartgui>
