[Desktop Entry]
Name=aMuleGUI
Comment=aMule remote control
Exec=amulegui
Icon=/home/whodare/.icons/amulegui.svg
Terminal=false
Type=Application
Categories=Network;P2P;
