[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Xp Virtual Machine
GenericName=Virtual Machine
Categories=Emulator;System
Type=Application
Exec=startvm xp
TryExec=startvm
Icon=VBox
